In [9]:
import pandas as pd
import prettytable as prtl
Agsel = pd.read_csv('car_resale_prices.csv')
Agsel.describe()

         Unnamed: 0         seats
count  17446.000000  17436.000000
mean    8722.500000      5.205494
std     5036.370734      0.669321
min        0.000000      2.000000
25%     4361.250000      5.000000
50%     8722.500000      5.000000
75%    13083.750000      5.000000
max    17445.000000     14.000000

pertama
kita IMPORT pandas dan prettytable nya
lalu kita import datasetnya
kemudian tampilkan statistik dari atribut bertipe angka

In [10]:
Agsel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17446 entries, 0 to 17445
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         17446 non-null  int64
 1   full_name          17446 non-null  object
 2   resale_price       17446 non-null  object
 3   registered_year    17377 non-null  object
 4   engine_capacity    17432 non-null  object
 5   insurance          17439 non-null  object
 6   transmission_type  17446 non-null  object
 7   kms_driven         17443 non-null  object
 8   owner_type         17401 non-null  object
 9   fuel_type          17446 non-null  object
 10  max_power          17344 non-null  object
 11  seats              17436 non-null  float64
 12  mileage            16938 non-null  object
 13  body_type          17446 non-null  object
 14  city               17446 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 2.0+ MB

Kedua
Tampilkan info bentuk dari dataset

In [11]:
Agsel.select_dtypes(include=['int64', 'float64']).head(10)

   Unnamed: 0  seats
0           0    5.0
1           1    7.0
2           2    5.0
3           3    5.0
4           4    5.0
5           5    5.0
6           6    5.0
7           7    5.0
8           8    7.0
9           9    5.0

ketiga
tampilkan 10 record pertama dari dataset dengan attribute bertipe angka

In [12]:
data = {}

data['Jumlah Record'] = Agsel.shape[0]
data['Jumlah Attribute'] = Agsel.shape[1]
data['Nama Attribute'] = Agsel.columns.tolist()
data['Jumlah Attribute Dengan Tipe Angka'] = Agsel.select_dtypes(include=['int64', 'float64']).shape[1]

dictKeys = list(data.keys())

table = prtl.PrettyTable()
table.add_column(dictKeys[0], [data['Jumlah Record']])
table.add_column(dictKeys[1], [data['Jumlah Attribute']])
table.add_column(dictKeys[2], ['\n'.join(data['Nama Attribute'])])
table.add_column(dictKeys[3], [data['Jumlah Attribute Dengan Tipe Angka']])
print(table)

+---------------+------------------+-------------------+------------------------------------+
| Jumlah Record | Jumlah Attribute |   Nama Attribute  | Jumlah Attribute Dengan Tipe Angka |
+---------------+------------------+-------------------+------------------------------------+
|     17446     |        15        |     Unnamed: 0    |                 2                  |
|               |                  |     full_name     |                                    |
|               |                  |    resale_price   |                                    |
|               |                  |  registered_year  |                                    |
|               |                  |  engine_capacity  |                                    |
|               |                  |     insurance     |                                    |
|               |                  | transmission_type |                                    |
|               |                  |     kms_driven    |                                    |
|               |                  |     owner_type    |                                    |
|               |                  |     fuel_type     |                                    |
|               |                  |     max_power     |                                    |
|               |                  |       seats       |                                    |
|               |                  |      mileage      |                                    |
|               |                  |     body_type     |                                    |
|               |                  |        city       |                                    |
+---------------+------------------+-------------------+------------------------------------+

keempat
tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka

In [13]:
Agsel.iloc[46:, 3:]

,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
46,2011,1248 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,Diesel,90 PS,5.0,18.8 kmpl,Sedan,Agra
47,2011,1248 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,Diesel,90 PS,5.0,18.8 kmpl,Sedan,Agra
48,2017,1186 cc,Third Party insurance,Manual,"20,000 Kms",First Owner,Diesel,73.97bhp,5.0,24 kmpl,Hatchback,Agra
49,2017,1196 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,CNG,61.7bhp,5.0,21.94 km/kg,Minivans,Agra
50,2017,1196 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,CNG,61.7bhp,5.0,21.94 km/kg,Minivans,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...
17441,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

In [14]:
Agsel.loc[46:, data['Nama Attribute'][3:]]

,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
46,2011,1248 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,Diesel,90 PS,5.0,18.8 kmpl,Sedan,Agra
47,2011,1248 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,Diesel,90 PS,5.0,18.8 kmpl,Sedan,Agra
48,2017,1186 cc,Third Party insurance,Manual,"20,000 Kms",First Owner,Diesel,73.97bhp,5.0,24 kmpl,Hatchback,Agra
49,2017,1196 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,CNG,61.7bhp,5.0,21.94 km/kg,Minivans,Agra
50,2017,1196 cc,Third Party insurance,Manual,"1,50,000 Kms",First Owner,CNG,61.7bhp,5.0,21.94 km/kg,Minivans,Agra
...,...,...,...,...,...,...,...,...,...,...,...,...
17441,Jul 2013,1198 cc,Comprehensive,Manual,"89,000 Kms",Second Owner,Petrol,86.7bhp,5.0,18 kmpl,Sedan,Delhi
17442,Jun 2016,2494 cc,Comprehensive,Automatic,"68,000 Kms",First Owner,Petrol,157.7bhp,5.0,19.16 kmpl,Sedan,Delhi
17443,Jun 2016,1798 cc,Comprehensive,Manual,"81,000 Kms",First Owner,Petrol,138.03bhp,5.0,14.28 kmpl,Sedan,Delhi
17444,Jun 2019,1582 cc,Comprehensive,Automatic,"20,000 Kms",First Owner,Diesel,126.2bhp,5.0,17.01 kmpl,SUV,Delhi
17445,Jun 2017,1248 cc,Comprehensive,Manual,"32,000 Kms",First Owner,Diesel,73.9bhp,5.0,19.3 kmpl,Sedan,Delhi

kelima
Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir (046)
hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice (loc dan iloc).

In [15]:
object = Agsel.select_dtypes(include=['object']).columns.tolist()
object.pop(0)

for i in object:
    print(Agsel[i].value_counts())

resale_price
₹ 4.50 Lakh     216
₹ 3.50 Lakh     198
₹ 6.50 Lakh     195
₹ 5.50 Lakh     192
₹ 4 Lakh        191
               ...
₹ 1.42 Lakh       1
₹ 89.99 Lakh      1
₹ 20.15 Lakh      1
₹ 69.50 Lakh      1
₹ 11.29 Lakh      1
Name: count, Length: 1738, dtype: int64
registered_year
2022        399
2017        385
2018        359
2014        354
2016        345
           ...
May 2002      1
Feb 2008      1
Feb 2002      1
Dec 2006      1
Jul 2005      1
Name: count, Length: 243, dtype: int64
engine_capacity
1197 cc    3416
998 cc     1397
1497 cc     988
1199 cc     961
1248 cc     918
           ...
2650 cc       1
1242 cc       1
3471 cc       1
2362 cc       1
1388 cc       1
Name: count, Length: 156, dtype: int64
insurance
Third Party insurance    7559
Comprehensive            6414
Third Party              1973
Zero Dep                  834
Not Available             651
1                           5
2                           3
Name: count, dtype: int64
transmission_type
Manual       12541
Automatic     4905
Name: count, dtype: int64
kms_driven
1,20,000 Kms    561
60,000 Kms      504
80,000 Kms      490
50,000 Kms      486
70,000 Kms      480
               ...
30,413 Kms        1
38,329 Kms        1
66,383 Kms        1
69,795 Kms        1
67,634 Kms        1
Name: count, Length: 8285, dtype: int64
owner_type
First Owner     12293
Second Owner     4150
Third Owner       780
Fourth Owner      127
Fifth Owner        51
Name: count, dtype: int64
fuel_type
Petrol      11336
Diesel       5516
CNG           504
Electric       61
LPG            29
Name: count, dtype: int64
max_power
81.80bhp    636
81.86bhp    552
88.50bhp    486
74bhp       387
82bhp       363
           ...
66.7          1
58.3bhp       1
32.5bhp       1
321bhp        1
420bhp        1
Name: count, Length: 609, dtype: int64
mileage
18.9 kmpl     684
18.6 kmpl     513
17 kmpl       396
21.4 kmpl     353
18 kmpl       315
             ...
26.5 kmpl       1
24.1 kmpl       1
11.81 kmpl      1
24.29 kmpl      1
18.32 kmpl      1
Name: count, Length: 587, dtype: int64
body_type
Hatchback        7343
Sedan            4781
SUV              4406
MUV               759
Minivans           65
Maruti             19
Pickup             13
Coupe              10
Cars                8
Tata                7
Mercedes-Benz       6
Mahindra            4
Chevrolet           3
Jaguar              3
Wagon               3
BMW                 2
Toyota              2
Datsun              2
Honda               2
Convertibles        2
Audi                1
Porsche             1
Volvo               1
Hyundai             1
Skoda               1
Isuzu               1
Name: count, dtype: int64
city
Delhi         3036
Bangalore     2334
Mumbai        2109
Hyderabad     1584
Pune          1394
Chennai       1344
Ahmedabad     1330
Kolkata       1181
Gurgaon       1043
Jaipur         897
Lucknow        551
Chandigarh     437
Agra           206
Name: count, dtype: int64

keenam
tampilkan jumlah nilai dari semua attribute yang bernilai object